
input.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 9px 4px 9px 40px;
  color:black;
  background-color:white;
}

.search-container {
  width: 350px;
}

.topnav {
  background-color: red;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marvel-img{
  width: 100px;
}

.search-container i {
  position: absolute;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 350px;
  padding: 9px 4px 9px 40px;
  border: 1px solid #555;
  border-radius: 5px;;
}